{% extends "base1.html.twig" %}


{% block logo %}
  <a class="navbar-brand" href="/uPage/"><img src="../images/logo.png" class="bd-placeholder-img rounded-circle" width="50" height="50" alt="Mecánico"></a>
{% endblock %}

{% block home %}
  <a class="nav-link px-2 text-secondary" aria-current="page" href="/uPage/">Home</a>
{% endblock %}
{% block motocicletas %}
<a class="nav-link dropdown-toggle px-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Motocicletas</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/uPage/#supersport/">Deportivas</a></li>
                    <li><a class="dropdown-item" href="/uPage/#nacked"/>Nacked</a></li>
                    <li><a class="dropdown-item" href="/uPage/#adventure/">Adventure</a></li>
                    <li><a class="dropdown-item" href="/uPage/#sportTouring/">Sport Touring</a></li>
                    <li><a class="dropdown-item" href="/uPage/#motocross/">Motocross</a></li>
                    <li><a class="dropdown-item" href="/uPage/#scrambler/">Scrambler</a></li>
                    <li><a class="dropdown-item" href="/uPage/#cruiser/">Cruiser</a></li>
                    <li><a class="dropdown-item" href="/uPage/#chooper/">Chooper</a></li>
                    <li><a class="dropdown-item" href="/uPage/#scooter/">Scooter</a></li>
                  </ul>
{% endblock %}
{% block sugerencias %}
  <a class="nav-link px-2 text-white" href="/uSugerencias/">Sugerencias</a>
{% endblock %}
{% block blog %}
  <a class="nav-link px-2 text-white" href="/uBlog/">Blog</a>
{% endblock %}
{% block buttons %}
  <a class="links" href='/profile/'><button type="button" class="btn btn-outline-light me-2">{{nombre.getUser()}}</button></a>
  <a class="links" href='/exit/'><button type="button" class="btn btn-warning">Cerrar Sesión</button></a>
{% endblock %}
{% block section %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Deja tu comentario</h1>
      <p class="lead font-weight-normal">Comparte tu comentario con los demás </p>
      <a class="btn btn-outline-secondary" href="/comment/">Comentar</a>
    </div>
  </div>


  {% for row in resultado %}
    <div class="container text-center p-5 rounded border  sombra" >
      <div class="col-8 offset-2" >
        <div class="">
          <div class="elementor-testimonial-content">{{row.getCommentary()}}</div>

          <div class="p-5">
              <div class="col-12 p-1 ">
                <div class="elementor-testimonial-name name">
                  <h5>User: {{row.getId_user().getUser()}}</h5>
                </div>
                <!--<div class="elementor-testimonial-job">Blogger3cero.com</div>-->
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}



{% endblock %}